<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="/css/quill.snow.css">
	<link rel="stylesheet" href="/css/style.css">
</head>

<body>
	<div id="form-container" class="container">
		<form class="form">
			<input type="hidden" name="id" value="<% if(foundArticle.id){ %><%= foundArticle.id %><%}%>">
			<div class="form-group">
				<input class="form-control title readonly" name="art_title" type="text" value="<% if(foundArticle.title){ %><%= foundArticle.title %><%}%>" required="" readonly="readonly">
				<label for="art_title">Title</label>
			</div>
			<div class="form-group">
				<input class="form-control author readonly" name="author" type="text" value="<% if(foundArticle.author){ %><%= foundArticle.author %><%}%>" required="" readonly="readonly">
				<label for="author">Author</label>
			</div>
			<div class="form-group">
				<div id="like-input" class="readonly">
					<input name="body" type="hidden">
					<div id="editor-container">
					</div>
				</div>
				<label for="body">Text</label>
			</div>
			<button class="btn btn-primary edit_art" type="button" id="save-button">Edit</button>
		</form>
	</div>

	<ul class="bg-bubbles">
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
	</ul>
	<script src="/js/jquery.min.js"></script>
	<script src="/js/quill.js"></script>
	<script>
		console.log(<% if(this.foundArticle){ %><%- foundArticle %><%}%>);
		$(document).ready(function () {
			var quill = new Quill('#editor-container', {
				modules: {
					toolbar: [
						['bold', 'italic'],
						['link', 'blockquote', 'code-block', 'image'],
						[{ list: 'ordered' }, { list: 'bullet' }]
					]
				},
				scrollingContainer: '#like-input',
				theme: 'snow'
			});
			function checkEditor() {
				//console.log(quill.hasFocus(););
				if ($("#editor-container").text().length > 0) {
					$('#like-input + label').css({ 'left': '-85px', 'font-size': '23px', 'opacity': '1' });
				} else if (quill.hasFocus()) {
					$('#like-input + label').css({ 'left': '-85px', 'font-size': '23px', 'opacity': '1' });
				} else {
					$('#like-input + label').css({ 'left': '12px', 'font-size': '20px', 'opacity': '.7' });
				}
			}
			quill.on('selection-change', function () {
				checkEditor();
			});
			quill.setContents(<% if(foundArticle){ %><%- foundArticle.body %><%}%>);
			checkEditor();
			quill.enable(false);


			var form = document.querySelector('form');
			$('#save-button').click(function () {
				if($(this).hasClass('edit_art')) {
					$('.readonly').prop('readonly', false);
					$('.title, .author, #like-input').removeClass('readonly');
					quill.enable(true);
					$(this).attr('type', 'submit').removeClass('edit_art').html('Save');
					return false;
				} else {
					var art = {
						id: $("input[name=id]").val(),
						title: $("input[name=art_title]").val(),
						author: $("input[name=author]").val(),
						body: JSON.stringify(quill.getContents())
					}
					$('#save-button').html('sending..');
					$.ajax({
						url: '/update',
						crossDomain: true,
						contentType: "application/json; charset=utf-8",
						type: 'PUT',
						dataType: "json",
						data: JSON.stringify(art),
						success: function (data) {
							console.log(data);
							$('#save-button').html('Saved');
							//location.href = "/" + data.path;
						}
					});
					return false;
				}
			});

		});
	</script>
</body>

</html>